extends ../layout
block content
    .row
      .card.shadow
        .card-header.border-0
          .row
            .col-xl-4
              h3.mb-0 
                =subtitle
          .row
            .col-xl-12.text-center
                  p.mt-0.mb-1
                    i.fas.fa-user-ninja                
                      =head.name
                  p.mt-0.mb-1
                    i.fas.fa-phone 
                      =head.contacts
                  p.mt-0.mb-1
                    i.ni.ni-pin-3 
                      =head.location              
        .table-responsive
          table.table.align-items-center.table-flush.export#items(name=head.name)
            thead.thead-light
              tr
                th(scope='col') Code
                th(scope='col') Name
                th(scope='col') Source
                th(scope='col') Destination
                th(scope='col') Created At                
                th(scope='col') Courier
                th(scope='col') Delivery Time
                th(scope='col') Delivered
            tbody
              if(data)
                each d in data
                  tr
                    td.pb-2.pt-2(scope='col')
                      =d.productCode
                    td
                      =d.name
                    td
                      if(d.branchId)
                        =d.branch.name 
                    td
                      =d.destCustomerDest 
                    td
                      =d.created_at
                    
                    td.pb-1.pt-2
                      =d.vehicle.name  
                    td
                      =d.deliveryTime  
                    td
                      if(d.delivered == true)
                        | Delivered
                      else
                        | Pending
    script(src='https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js')
    script(src='https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')  
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js')  
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js')
    script(src='https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js')
    script(src='https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js')              
                
