extends ../layout-min

block content
    .row
      .card.bg-secondary.shadow        
        .card-body
          form(method="post",action="/routes/create")
            h6.heading-small.text-muted.mb-4 Route information
              .row
                .col-lg-12
                  .form-group.focused
                    label.form-control-label(for='input-username') name
                    input#name.form-control.form-control-alternative(type='text' placeholder='Thika Road' name='name' required)
              .form-group.focused
                label About Route
                textarea.form-control.form-control-alternative(rows='4' placeholder='A few words about you ...' name='details') 
              .row
                .text-center
                  button.btn.btn-success.my-4(type='submit') Create
