extends ../layout-min

block content
    .row
      .card.bg-secondary.shadow        
        .card-body
          form(method="post",action="/vehicles/create")
            h6.heading-small.text-muted.mb-4 Vehicle information
            .pl-lg-4
              .row
                .col-lg-6
                  .form-group.focused
                    label.form-control-label(for='name') name
                    input#name.form-control.form-control-alternative(type='text' placeholder='Isuzu p12' name='name' required)
                .col-lg-6
                  .form-group
                    label.form-control-label(for='reg') Registration
                    input#reg.form-control.form-control-alternative(type='text' placeholder='KAG 555G' name='registration' required)
                .col-lg-6
                  .form-group.focused
                    label.form-control-label(for='size') Size (Cubic Meters)
                    input#size.form-control.form-control-alternative(type='text' placeholder='size' value='' name='size' required)
                .col-lg-6
                  .form-group.focused
                    label.form-control-label(for='branch') Branch
                    select#branch.form-control.form-control-alternative(name="branch")
                      option(value)
                        | --select Branch--
                      each b in branches 
                        option(value=b.id)
                          =b.name                 
              .form-group.focused
                label Description
                textarea.form-control.form-control-alternative(rows='4' placeholder='A few words about you ...' name='details') 
              .row
                .text-center
                  button.btn.btn-success.my-4(type='submit') Create
