extends ../layout
block content
    .row
      .card.shadow
        .card-header.border-0
          .row
            .col-xl-4
              h3.mb-0 Vehicles
            .col-xl-6.text-right
              a.btn.btn-success(href="/vehicles/create")
                |  Create Vehicle
        .table-responsive
          table.table.align-items-center.table-flush
            thead.thead-light
              tr
                th(scope='col') Name
                th(scope='col') Registration
                th(scope='col') Capacity
                th(scope='col') Branch
                th(scope='col') Actions
            tbody
              each d in data
                tr
                  td.pb-2.pt-1(scope='col')
                    =d.name
                  td
                    =d.registration
                  td
                    =d.size 
                  td
                    if d.branchId
                      =d.branch.name
                    else 
                      | Outsourced
                  td
                    a.action(href='#' onclick="return confirm('are you sure you want to activate this branch?')")
                      i.fas.fa-user-check
                    a.action(href='/vehicles/edit/'+ d.id) 
                      i.fas.fa-user-edit                    
                    a.action(href='#' onclick="return confirm('are you sure you want to delete this branch?')") 
                      i.fas.fa-user-times
              
