extends ../layout
block content
    .row
      .card.shadow
        .card-header.border-0
          .row
            .col-xl-4
              h3.mb-0 Items
            .col-xl-6.text-right
              a.btn.btn-primary(href="/items/create")
                |  Create Product
        .table-responsive
          table.table.align-items-center.table-flush
            thead.thead-light
              tr
                th(scope='col') Code
                th(scope='col') Name
                th(scope='col') Source
                th(scope='col') Destination
                th(scope='col') Created At
                th(scope='col') Courier
                th(scope='col') Delivered
                th(scope='col') Actions
            tbody
              each d in data
                tr
                  td.pb-2.pt-2(scope='col')
                    =d.productCode
                  td
                    =d.name
                  td
                    if(d.branch.name)
                      =d.branch.name 
                  td
                    =d.destCustomerDest 
                  td
                    =d.created_at
                  
                  td.pb-1.pt-2
                      form(method='post',action='/items/assign/'+d.id)
                        .input-group
                          select#courier.form-control.form-control-sm(name="courier")
                            if(d.courierId)
                              option(value=d.courier.id)
                                =d.courier.name
                            else 
                              option(value)
                                | --select courier --
                            each b in couriers 
                              option(value=b.id)
                                =b.name 
                          .input-group-append
                            .input-group-text.p-0
                              button.btn.btn-icon.btn-2.btn-primary.btn-sm(type='submit')
                                span.btn-inner--icon
                                  i.ni.ni-pin-3
                  td
                    =d.delivered
                  td                    
                    a.action(href='/items/delivered/'+d.id onclick="return confirm('Is this item delivered?')" title='Delivered?')
                      i.fas.fa-check
                    a.action(href='/items/'+d.id title='View Product')
                      i.fas.fa-eye
                    a.action(href='/items/edit/'+d.id title='Edit Product') 
                      i.fas.fa-edit                    
                    a.action(href='#' onclick="return confirm('are you sure you want to delete this branch?')"  title='Delete Product') 
                      i.fas.fa-trash
              
