extends ../layout
block content
    .row
      .card.shadow
        .card-header.border-0
          .row
            .col-xl-4
              h3.mb-0 Users
            .col-xl-6.text-right
              a.btn.btn-primary(href="/users/create")
                |  Create User
        .table-responsive
          table.table.align-items-center.table-flush
            thead.thead-light
              tr
                th(scope='col') Name
                th(scope='col') Location
                th(scope='col') Contacts
                th(scope='col') Email
                th(scope='col') Category
                th(scope='col') Branch
                th(scope='col') Actions
            tbody
              each d in data
                tr
                  td.pb-3(scope='col')
                    =d.name
                  td
                    =d.location 
                  td
                    =d.contacts 
                  td
                    =d.email
                  td
                    =d.category.name 
                  td
                    =d.branch.name
                  td
                    a.action(href='#' onclick="return confirm('are you sure you want to activate this branch?')")
                      i.fas.fa-user-check
                    a.action(href='/users/edit/'+ d.id) 
                      i.fas.fa-user-edit                    
                    a.action(href='#' onclick="return confirm('are you sure you want to delete this branch?')") 
                      i.fas.fa-user-times
              
